{% load i18n %}
{% load static %}
{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style nonce="{{ request.csp_nonce }}" type="text/css">
        {{ theme_css }}
    </style>
    {% compress css %}
        <link rel="stylesheet" href="{% static "public/reboot.css" %}">
        <link rel="stylesheet" href="{% static "public/fonts.css" %}">
        <link rel="stylesheet" href="{% static "public/fork-awesome.css" %}">
        <link rel="stylesheet" href="{% static "public/main.css" %}">
    {% endcompress %}
    <title>{% block title %}{% blocktrans with system=config.system_name %}{{ system }} System Status{% endblocktrans %}{% endblock %}</title>
</head>
<body>
<header>
    <div class="container">
        <a class="brand" href="{% url "public:index" %}">
            {% if config.logo %}
                <img src="{{ config.logo.url }}" height="52" class="logo" alt="{{ config.system_name }}">
            {% else %}
                {{ config.system_name }}
            {% endif %}
            {% trans "System Status" %}
        </a>
        <div class="gap"></div>
        <nav class="main-nav">
            <a href="{% url "public:index" %}">
                {% trans "Current status" %}
            </a>
            <a href="{% url "public:history" %}">
                {% trans "History" %}
            </a>
        </nav>
    </div>
</header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<footer>
    <div class="container">
        <a href="{% url "public:feed.rss" %}" target="_blank">{% trans "RSS feed" %}</a> ·
        <a href="{% url "public:feed.atom" %}" target="_blank">{% trans "Atom feed" %}</a> ·
        {% if notification_config and notification_config.allow_subscriptions %}
            <a href="{% url "public:subscribe" %}">{% trans "Subscribe" %}</a> ·
        {% endif %}
        {% if config %}
            <a href="{{ config.legal_url }}" target="_blank">{% trans "Legal notice" %}</a> ·
            <a href="{{ config.privacy_url }}" target="_blank">{% trans "Privacy" %}</a>
        {% endif %}
        <br>
        <a href="https://github.com/pretix/monostat" target="_blank">{% trans "powered by monostat" %}</a> (AGPLv3)
    </div>
</footer>
{% compress js %}
    <script src="{% static "luxon/luxon.js" %}" defer></script>
    <script src="{% static "public/main.js" %}" defer></script>
{% endcompress %}
</body>
</html>
