{% extends "public/base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Subscribe" %}</h1>
    <p>
        {% trans "Do you want to be alerted via email on new incidents?" %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field-wrapper">
            {{ form.email.as_field_group }}
        </div>
        <p class="secondary">
            {% trans "I consent to my email address being stored for the sole purpose of sending me notifications about new or changed incidents on this page. I can withdraw my consent at any time by clicking the Unsubscribe link in any of the emails I receive." %}
        </p>
        <button type="submit" class="button">{% trans "Subscribe" %}</button>
    </form>
{% endblock %}